.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.spacer {
  height: 0.5em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
