.scroll {
  /* height: 50vh; */
  /* width: 98%; */
  overflow-y: scroll;
  margin: 0 auto;
  /* padding: 0.5%; */
  /* box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.scroll::-webkit-scrollbar {
  display: none;
  width: 0.1rem;
}
.shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .MuiListItemButton-root:nth-child(odd) {
  background-color: rgb(197, 197, 197);
} */
/* .Mui-selected {
  border: 1px solid purple;
  background-color: rgb(209, 160, 255);
} */
.colored{
  background-color: rgb(220, 220, 220) !important;
}
.unColored{
  background-color: rgb(230, 230, 230) !important;

}
.dropDetail{
  /* background-color: rgb(223, 223, 223); */
  /* transition: all 1s ease-in-out ; */
  border-bottom: 1px solid lightgrey;
  /* box-shadow:0 -2px 1px grey inset, 2px 0 3px white, -2px 0 2px white; */
}
